[user]                                                        
    name = Arthur Ariza                                 
    email = tucaariza@gmail.com                
                                                                
[includeIf "gitdir:/Users/arthur/Dev/Trainline/"]
    path = ~/.gitconfig-work

[push]
	autoSetupRemote = true

[pull]
	rebase = false

[init]
    defaultBranch = main